
node_modules/
npm-debug.log*


.env
.env.*.local


dist/
build/
.out/
.next/
coverage/


logs/
*.log
*.log.*
logfile*


.DS_Store
Thumbs.db


.vscode/
.idea/
*.sublime-workspace
*.sublime-project


*.local
*.cache
*.tsbuildinfo
.vite/
vite.svg
public/mockServiceWorker.js


*.tsbuildinfo


*.bak
*.swp
*.tmp


dump/
